version: 2.1
orbs:
  python: circleci/python@2.0.0

executors:
  python-executor:
    executor:
      name: python/default
      tag: "3.12"

jobs:
  install-and-cache:
    executor: python-executor
    steps:
      - checkout
      - python/install-deps-with-poetry

workflows:
  version: 2
  ci:
    jobs:
      - python/run-commands:
          name: lint
          executor: python-executor
          requires:
            - install-and-cache
          commands: |
            poetry run ruff check src tests
            poetry run black --check src tests

      - python/run-commands:
          name: type-check
          executor: python-executor
          requires:
            - install-and-cache
          commands: |
            poetry run mypy src

      - python/test:
          name: test
          executor: python-executor
          requires:
            - install-and-cache
          command: |
            poetry run pytest --cov=src --cov-report=term-missing --cov-report=xml
          store-test-results: true
          store-coverage-artifacts: true